{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/site.css' %}">
    <title>Pet Care</title>
</head>

<body>

    <nav>
        <ul>
            <li><img class="logo" src="{% static 'images/paw.svg' %}"></li>
            <li class="title">Animal Care</li>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'create animal' %}">Add Animal</a></li>
        </ul>
    </nav>
    <div class="content">
        {% block site_content %}
        {% endblock %}
    </div>
    <footer> Python Web Basics Retake Exam @SoftUni </footer>

</body>

</html>